.cards {
    width: 100%;
    display: grid;
    min-height: 100%;
    position: relative;
    margin-top: 2.8rem;
}

#currentDownload {
    font-size: medium;
}

.downloadText{
    position: 'absolute';
    height: 50px;
}